$primary-color:#00fff0;
$primary-color-2:#223047;
$first-font:"Dosis";
header {
    height: 700px;
    width: 100%;
    background-color: $primary-color-2;
    .header_logo {
        margin-top: 15px;
    }
    .nav-button {
        margin-top: 15px;
        width: 137px;
        height: 40px;
        border-radius: 7px;
        background-color: $primary-color;
    }
    .header_menu {
        margin-top: 15px;
        li {
            a {
                color: white;
                font-size: 16px;
                letter-spacing: 0px;
                line-height: 29px;
                color: #ffffff;
                font-family: "Dosis";
                margin-right: 30px;
            }
        }
    }
    .header_headText {
        font-size: 35px;
        letter-spacing: 1px;
        line-height: 49px;
        color: #ffffff;
        font-family: $first-font;
        margin-bottom: 38px;
    }
    .header_text {
        width: 417px;
        height: 77px;
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 29px;
        color: #97a4be;
        font-family: $first-font;
        margin-bottom: 60px;
    }
    .header-right {
        margin-top: 120px; // position: absolute;
        // left: 125px;
        // top: 101px;
    }
    .header_btn {
        width: 168px;
        height: 39px;
        border-radius: 7px;
        background-color: #00fff0;
        font-size: 16px;
        color: #233148;
        font-family: "Dosis";
        margin-right: 20px;
    }
    .header_btn-blue {
        width: 150px;
        height: 39px;
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 29px;
        color: #ffffff;
        font-family: $first-font;
        background-color: $primary-color-2;
        border-color: white;
    }
    .header__mobile__menu {
        display: none;
    }
    .header_iphone {
        position: absolute;
        top: 75px;
    }
}

.powerApp {
    padding-bottom: 90px;
    .powerApp_text {
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 40px;
        color: $primary-color-2;
        font-family: $first-font;
        text-align: center;
        margin-top: 120px;
        padding-bottom: 150px;
        &::before {
            position: absolute;
            content: "";
            top: 252px;
            left: 500px;
            width: 100px;
            height: 5px;
            background-color: $primary-color;
        }
    }
    .powerApp_cart {
        width: 100%;
        text-align: center;
        height: 321px;
        border-radius: 5px;
        box-shadow: 1px 1.732px 5px rgba(30, 43, 63, 0.1);
        background-color: #ffffff; // margin-left: 15px;
        .powerApp_cart-img {
            max-height: 100%;
            max-width: 100%;
            margin-left: 0px;
            margin-bottom: 20px;
        }
        .powerApp_cart-header {
            font-size: 17px;
            text-align: center;
            line-height: 50px;
            color: $primary-color-2;
            font-family: $first-font;
        }
        .powerApp_cart-text {
            width: 100%;
            height: 79px;
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 29px;
            color: #97a4be;
            font-family: "Dosis";
            text-align: center;
            padding: 7px;
        }
    }
}

.moreInf {
    width: 100%;
    margin-bottom: 100px;
    .right-side--margin {
        margin-left: 60px;
        margin-top: 70px;
    }
    .moreInf_left-side {
        background-color: $primary-color-2;
        height: 375px;
    }
    .moreInf_right-side {
        background-color: #f5f6fa;
        margin-left: -15px;
        .right-side-headText {
            font-size: 30px;
            letter-spacing: 1px;
            line-height: 40px;
            color: #000000;
            font-family: $first-font;
            font-family: $first-font;
        }
        .right-side-text {
            width: 469px;
            height: 141px;
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 29px;
            color: #97a4be;
            font-family: $first-font;
        }
    }
}

.stable__Ready {
    .first__row {
        text-align: right;
        margin-bottom: 100px;
    }
    .first__row--headtext {
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 40px;
        color: #000000;
        font-family: "Dosis";
        text-align: right;
    }
    .first__row--text {
        height: 141px;
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 29px;
        color: #97a4be;
        font-family: $first-font;
        text-align: right;
        margin-bottom: 50px;
    }
    .first__row--button {
        width: 200px;
        height: 50px;
        border-radius: 5px;
        background-color: $primary-color;
        font-size: 17px;
        color: $primary-color-2;
        font-family: $first-font;
    }
    .second__row--img {
        position: absolute;
        left: 235px;
    }
    .second__row--list {
        list-style: none;
        background-color: none; // position: absolute;
        // top: 184px;
        // left: -150px;
    }
    .second__row--list--center {
        display: table-cell;
        vertical-align: middle;
    }
    .second__row--list li {
        width: 542px;
        height: 78px;
        box-shadow: 2px 3.464px 10px rgba(35, 39, 51, 0.1);
        margin-bottom: 40px;
        display: table;
        &:hover {
            width: 542px;
            height: 137px;
            box-shadow: 4px 6.928px 24px rgba(0, 255, 241, 0.5);
            background-color: #00fff0;
            transition-duration: 0.5s;
        }
    }
    .second__row--list i {
        margin-left: 30px;
        font-size: 20px;
    }
    .second__row--list li h6 {
        display: inline-block;
        margin-left: 15px;
        font-size: 17px;
        letter-spacing: 0px;
        line-height: 38px;
        color: $primary-color-2;
        font-family: $first-font;
    }
    .second__row--list li p {
        width: 379px;
        height: 45px;
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 28px;
        color: #233148;
        font-family: "Dosis";
        margin-left: 68px;
    }
}

.android__iphone {
    height: 470px;
    background-color: #f5f6fa;
    .android_iphone--headtext {
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 40px;
        color: #000000;
        font-family: $first-font;
        text-align: right;
        margin-bottom: 15px;
        margin-top: 130px;
        margin-bottom: 45px;
    } //list = <ul></ul>
    .android_iphone--list {
        text-align: right;
        list-style-type: none;
        margin-right: 20px;
        margin-bottom: 30px;
        .android_iphone--list li {
            font-size: 17px;
            line-height: 50px;
            color: #000000;
            font-family: "Dosis";
            text-align: center;
            list-style-type: none;
            margin-left: 5px;
        }
        .list--icon {
            margin-right: 14px;
            content: "\f00c";
            background-color: #00fff0;
            border-radius: 50%;
            border: 1x solid grey;
            padding: 5px;
        }
    }
    .android_iphone--text {
        width: 469px;
        height: 141px;
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 29px;
        color: #97a4be;
        font-family: "Dosis";
        text-align: right;
    }
    .android__iphone .android_iphone--headtext {
        margin-top: 140px;
    }
    .android__iphone--white__image {
        height: 277px;
        position: absolute;
        top: 217px;
        left: 43px;
    
    }
    .android__iphone--black__image {
        height: 359px;
        position: absolute;
        top: 131px;
        left: 155px;
    
    }
}

.video {
    text-align: center;
    height: 550px;
    background-color: $primary-color-2;
    img {
        margin-top: 10%;
        margin-bottom: 2%;
    }
    .video--headtext {
        font-size: 17px;
        letter-spacing: 0px;
        line-height: 40px;
        color: #ffffff;
        font-family: "Dosis";
        font-weight: 300;
        margin-bottom: 2%;
    }
    .video--text {
        height: 141px;
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 29px;
        color: #ffffff;
        font-family: "Dosis";
        text-align: center;
    }
}

.join {
    background-position: center;
    text-align: center;
    height: 500px;
    background-image: url("../img/map.png");
    background-repeat: no-repeat; // background-repeat: repeat-x;
    .join--headtext {
        margin-top: 140px;
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 50px;
        color: $primary-color-2;
        font-family: $first-font;
    }
    .join--text {
        margin-top: 10px;
        font-size: 17px;
        letter-spacing: 0px;
        line-height: 29px;
        color: $primary-color-2;
        font-family: $first-font;
        font-weight: 300;
    }
    .join--button {
        // width: 170px;
        height: 50px;
        box-shadow: 4px 6.928px 24px rgba(0, 255, 241, 0.5);
        background-color: #00fff0;
        font-size: 30px;
        letter-spacing: 1px;
        color: $primary-color-2;
        font-family: $first-font;
        margin-top: 30px;
    }
}

.only__text {
    height: 270px;
    background-color: #223047;
    .text {
        margin-top: 10%;
        height: 141px;
        font-size: 17px;
        letter-spacing: 0px;
        line-height: 29px;
        color: #00fff1;
        font-family: "Dosis";
        text-align: center;
    }
}

.available {
    display: table;
    background-color: #f5f6fa;
    width: 100%;
    height: 700px;
    .available__headtext {
        font-size: 40px;
        letter-spacing: 1px;
        line-height: 50px;
        color: #223047;
        font-family: "Dosis";
        margin-left: 45px;
        padding-top: 190px;
    }
    .available__text {
        height: 30px;
        font-size: 17px;
        letter-spacing: 0px;
        line-height: 29px;
        color: #97a4be;
        font-family: "Dosis";
        font-weight: 300;
        margin-left: 45px;
    }
    .available--padding {
        padding-top: 90px;
        margin-left: 5px;
        .available--padding--list {
            list-style-type: none;
            li {
                display: inline;
            }
        }
    }
    .available__liphone {
        position: absolute;
        left: 170px;
        top: 38px;
        z-index: 1;
    }
    .available__riphone {
        position: absolute;
        left: 345px;
        top: 152px;
        margin-right: 40px;
    }
    .available--button {
        position: absolute;
        left: 400px;
        width: 370px;
        top: 220px;
        height: 70px;
        box-shadow: 4px 6.928px 24px rgba(0, 255, 241, 0.5);
        background-color: #00fff0;
        font-size: 17px;
        line-height: 50px;
        color: #233148;
        font-family: "Dosis";
    }
}

.cols {
    width: 100%;
    height: 650px;
    .cols--padding {
        padding-top: 113px;
        list-style-type: none; // .cols--main--list{
        //     display: inline;
        // }
        .active {
            font-size: 17px;
            line-height: 50px;
            color: $primary-color-2;
            font-family: $first-font;
        }
        li {
            list-style-type: none;
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 29px;
            color: #97a4be;
            font-family: $first-font;
            text-align: center;
        }
    }
    .cols__headtext {
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 50px;
        color: $primary-color-2;
        font-family: $first-font;
        text-align: center; // margin-top: 150px;
    }
    .cols__text {
        font-size: 17px;
        letter-spacing: 0px;
        line-height: 29px;
        color: #97a4be;
        font-family: "Dosis";
        font-weight: 300;
        text-align: center;
        padding-bottom: 45px;
    }
    .cols__search--right {
        text-align: right;
    }
    .cols__search {
        width: 570px;
        height: 50px;
        margin-left: 31px;
        background-color: #f5f6fa;
        width: 450px;
        height: 50px;
        background-color: #f5f6fa;
        border: 0px solid #FF0000;
    }
    .cols__button {
        height: 50px;
        box-shadow: 4px 6.928px 24px rgba(0, 255, 241, 0.5);
        background-color: #00fff0;
        font-size: 17px;
        color: #233148;
        font-family: "Dosis";
        margin-left: 25px;
    }
    .cols__list {
        margin-left: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        li {
            width: 20%;
        }
    }
}

footer {
    background-color: #223047;
    .footer__headtext {
        font-size: 17px;
        line-height: 50px;
        color: #00fff1;
        font-family: "Dosis";
        margin-top: 23px;
    }
    .footer__list {
        text-align: right;
        margin-top: 23px;
        li {
            list-style-type: none;
            display: inline-block;
            margin-left: 25px;
            color: white;
        }
    }
}

// MEDIA QUERIES
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    header {
        height: 590px;
        .header_iphone {
            display: none;
        }
        .header_headText {
            font-size: 20px;
            text-align: left;
            margin-bottom: 20px;
        }
        .header__mobile__menu {
            margin-left: 64%;
            display: inline-block !important;
            background-color: $primary-color-2;
            color: white !important;
            font-size: 21px;
            margin-top: 5px;
            border: 0;
        }
        .nav-button {
            display: none;
        }
        .header_text {
            width: 261px;
        }
        .header-right {
            margin-top: 0px;
            position: relative;
        }
    }
    .powerApp {
        padding-bottom: 0px;
        .powerApp_text {
            font-size: 25px;
            margin-top: 50px;
            padding-bottom: 60px;
            &::before {
                display: none;
            }
        }
        .powerApp_cart {
            margin-left: 0px;
            margin-bottom: 5px;
        }
    }
    .moreInf {
        margin-bottom: 45px;
        .moreInf_left-side {
            display: none;
        }
        .moreInf_right-side {
            background-color: #f5f6fa;
            margin-left: -15px;
            .right-side-headText {
                width: 100%;
                height: 106px;
            }
            .right-side-text {
                width: 289px;
                height: 250px;
            }
        }
    }
    .stable__Ready {
        .first__row--text {
            margin-bottom: 80px;
        }
        .first__row {
            img {
                display: none;
            }
        }
        .second__row--img {
            display: none;
        }
        .second__row--list {
            li {
                width: 100%;
                p {
                    display: none;
                }
            }
        }
    }
    .android__iphone {
        height: 336px;
        .android_iphone--headtext {
            margin-top: 0px;
        }
        .android__iphone--imgs {
            display: none;
        }
    }
    .video {
        height: 340px;
    }
    .available {
        height: 382px;
        .available__headtext {
            padding-top: 20px
        }
        .available__liphone {
            display: none;
        }
        .available__riphone {
            display: none;
        }
        .available--button {
            position: absolute;
            left: 80px;
            width: 258px;
            top: 12px;
            height: 55px;
        }
    }
    .cols {
        height: 735px;
        .cols__list {
            li {
                width: 33%;
            }
        }
        .cols--padding {
            padding: 0;
            padding-top: 28px;
            .cols--main--list {
                display: inline;
            }
        }
        .cols__search {
            width: 100%;
        }
        .cols__search--right {
            text-align: center;
        }
        .cols__button--center {
            text-align: center;
        }
        .cols__align__center {
            text-align: center;
        }
        .cols__button {
            margin: 0;
        }
    }
    footer {
        margin-top: 23px;
        .footer__headtext {
            text-align: center;
        }
        .footer__list {
            text-align: center;
            margin-top: 0px;
            li {
                margin-left: 2px;
            }
        }
        .footer__headtext {
            line-height: 30px;
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767.98px) {
    header {
        text-align: center;
        height: 590px;
        .header_iphone {
            display: none;
        }
        .header_headText {
            font-size: 50px;
        }
        .header_text {
            width: 100%;
        }
        .header-right {
            margin-top: 0px;
            position: relative;
        }
    }
    .powerApp {
        padding-bottom: 0px;
        .powerApp_text {
            // font-size: 25px;
            // margin-top: 50px;
            // padding-bottom: 60px;
            &::before {
                position: absolute;
                content: "";
                top: 252px;
                left: 225px;
            }
        }
        .powerApp_cart {
            // margin-left: 60px;
        }
    }
    .moreInf {
        margin-bottom: 45px;
        .moreInf_left-side {
            display: none;
        }
        .moreInf_right-side {
            background-color: #f5f6fa;
            margin-left: -15px;
            .right-side--margin{
                margin-top: 0;
            }
            .right-side-headText {
                width: 100%;
                height: 106px;
                font-size: 50px;
            }
            .right-side-text {
                width: 562px;
            }
        }
    }
    .stable__Ready {
        .first__row--text {
            margin-bottom: 0px;
        }
        .first__row--headtext {
            font-size: 40px;
        }
        .first__row {
            margin-bottom: 35px;
            img {
                display: none;
            }
        }
        .second__row {
            .second__row--list--center {
                text-align: center;
                h6 {
                    font-size: 35px;
                }
                i {
                    font-size: 30px;
                }
            }
            .second__row--img {
                display: none;
            }
            .second__row--list {
                li {
                    width: 100%;
                    p {
                        display: none;
                    }
                }
            }
        }
    }
    .android__iphone {
        height: 336px;
        .android_iphone--headtext {
            margin-top: 10px;
            font-size: 40px;
        }
        .android_iphone--text {
            width: 100%;
        }
        .android__iphone--imgs {
            display: none;
        }
    }
    .video {
        height: 340px;
    }
    .available {
        height: 382px;
        .available__headtext {
            padding-top: 20px;
            margin-left: 0px;
        }
        .available__text {
            margin-left: 0px;
        }
        .available--padding {
            margin-left: 0px;
        }
        .available--padding--list {
            padding: 0;
        }
        .available__liphone {
            display: none;
        }
        .available__riphone {
            display: none;
        }
        .available--button {
            position: absolute;
            left: 15px;
            width: 258px;
            top: 12px;
            height: 55px;
        }
    }
    .cols {
        height: 735px;
        .cols__list {
            li {
                width: 33%;
            }
        }
        .cols--padding {
            padding: 0;
            padding-top: 28px;
            .cols--main--list {
                display: inline;
            }
        }
        .cols__search {
            width: 100%;
        }
        .cols__search--right {
            text-align: center;
        }
        .cols__align__center {
            text-align: center;
        }
        .cols__button {
            margin-top: 0;
        }
    }
    footer {
        margin-top: 23px;
        .footer__headtext {
            text-align: center;
        }
        .footer__list {
            text-align: center;
            margin-top: 0px;
            li {
                margin-left: 2px;
            }
        }
        .footer__headtext {
            line-height: 30px;
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px) {
    header {
        .header_iphone {
            position: absolute;
            top: 110px;
            width: 100%;
        }
        .header_text {
            width: 350px;
        }
        .nav-button {
            margin-top: 15px;
            width: 125px;
        }
    }
    .powerApp {
        .powerApp_text {
            &::before {
                position: absolute;
                content: "";
                top: 252px;
                left: 45%;
            }
        }
        .powerApp_cart {
            // margin-left: 60px;
            margin-bottom: 5px;
        }
    }
    .stable__Ready {
        .second__row--img {
            position: absolute;
            left: 10%;
            width: 100%;
        }
        .second__row--list {
            li {
                width: 100%;
                p {
                    display: none;
                }
            }
        }
        .first__row {
            .firs__row__codewin {
                width: 100%;
            }
        }
    }
    .android__iphone {
        .android__iphone--white__image {
            height: 215px;
            position: absolute;
            top: 272px;
            left: 25px;
        }
        .android__iphone--black__image{
            height: 351px;
    position: absolute;
    top: 139px;
    left: 93px;
        }
        
    }
    .moreInf {
        .moreInf_right-side {
            .right-side-text {
                width: 100%;
            }
            .right-side--margin{
                margin-top: 0;
            }
        }
    }
    .available {
        height: 570px;
        .available__headtext {
            padding-top: 125px;
        }
        .available--padding {
            padding-top: 155px;
            margin-left: 5px;
        }
        .available__liphone {
            position: absolute;
            left: -22px;
            top: 11px;
            z-index: 1;
            height: 100%;
        }
        .available__riphone {
            position: absolute;
            left: 130px;
            top: 45px;
            margin-right: 40px;
        }
        .available--button {
            position: absolute;
            position: absolute;
            left: 35%;
            top: 45px;
        }
        .available--padding--list {
            list-style-type: none;
            li {
                margin-top: 10px;
            }
        }
    }
    .cols {
        height: 735px;
        .cols__list {
            li {
                width: 50%;
            }
        }
        .cols--padding {
            padding: 0;
            padding-top: 28px;
            .cols--main--list {
                display: inline;
            }
        }
        .cols__search {
            width: 100%;
        }
        .cols__search--right {
            text-align: center;
        }
        .cols__align__center {
            text-align: center;
        }
        .cols__button {
            margin-top: 0;
        }
    }
    footer {
        background-color: #223047;
        .footer__headtext {
            font-size: 12px;
            line-height: 50px;
            color: #00fff1;
            font-family: "Dosis";
            margin-top: 23px;
        }
        .footer__list {
            text-align: right;
            margin-top: 23px;
            li {
                list-style-type: none;
                display: inline-block;
                margin-left: 25px;
                color: white;
            }
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .moreInf {
        .moreInf_right-side {
            .right-side-text {
                width: 425px;
            }
        }
    }
    .powerApp {
        .powerApp_text {
            &::before {
                position: absolute;
                content: "";
                top: 252px;
                left: 420px;
            }
        }
    }
    .stable__Ready {
        .second__row--img {
            position: absolute;
            left: 10%;
            top: -5%;
        }
        .second__row--list {
            li {
                width: 100%;
                p {
                    width: 80%;
                }
            }
        }
        .first__row {
            .firs__row__codewin {
                width: 100%;
            }
        }
    }
    .available {
        .available__liphone {
            position: absolute;
            left: 80px;
            top: 38px;
            z-index: 1;
        }
        .available__riphone {
            position: absolute;
            left: 255px;
            top: 105px;
        }
        .available--button {
            left: 33%;
        }
    }
    .cols {
        height: 525px;
        .cols__list {
            li {
                width: 20%;
            }
        }
        .cols--padding {
            padding: 0;
            padding-top: 50px;
            .cols--main--list {
                display: inline;
            }
        }
        .cols__search {
            width: 100%;
        }
        .cols__search--right {
            text-align: center;
        }
        .cols__align__center {
            text-align: center;
        }
        .cols__button {
            margin-top: 0;
        }
    }
    footer {
        background-color: #223047;
        .footer__headtext {
            font-size: 16px;
            line-height: 50px;
            color: #00fff1;
            font-family: "Dosis";
            margin-top: 23px;
        }
        .footer__list {
            text-align: right;
            margin-top: 23px;
            li {
                list-style-type: none;
                display: inline-block;
                margin-left: 25px;
                color: white;
            }
        }
    }
}

@media (min-width: 2560px) {
    .stable__Ready {
        .first__row {
            .first__row__right {
                text-align: left;
            }
        }
        .second__row--img {
            position: absolute;
            left: 65%;
        }
    }
    footer {
        .footer__headtext {
            text-align: right;
        }
        .footer__list {
            text-align: center;
            margin-top: 23px;
        }
    }
}