header {
  height: 700px;
  width: 100%;
  background-color: #223047; }
  header .header_logo {
    margin-top: 15px; }
  header .nav-button {
    margin-top: 15px;
    width: 137px;
    height: 40px;
    border-radius: 7px;
    background-color: #00fff0; }
  header .header_menu {
    margin-top: 15px; }
    header .header_menu li a {
      color: white;
      font-size: 16px;
      letter-spacing: 0px;
      line-height: 29px;
      color: #ffffff;
      font-family: "Dosis";
      margin-right: 30px; }
  header .header_headText {
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 49px;
    color: #ffffff;
    font-family: "Dosis";
    margin-bottom: 38px; }
  header .header_text {
    width: 417px;
    height: 77px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 29px;
    color: #97a4be;
    font-family: "Dosis";
    margin-bottom: 60px; }
  header .header-right {
    margin-top: 120px; }
  header .header_btn {
    width: 168px;
    height: 39px;
    border-radius: 7px;
    background-color: #00fff0;
    font-size: 16px;
    color: #233148;
    font-family: "Dosis";
    margin-right: 20px; }
  header .header_btn-blue {
    width: 150px;
    height: 39px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 29px;
    color: #ffffff;
    font-family: "Dosis";
    background-color: #223047;
    border-color: white; }
  header .header__mobile__menu {
    display: none; }
  header .header_iphone {
    position: absolute;
    top: 75px; }

.powerApp {
  padding-bottom: 90px; }
  .powerApp .powerApp_text {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #223047;
    font-family: "Dosis";
    text-align: center;
    margin-top: 120px;
    padding-bottom: 150px; }
    .powerApp .powerApp_text::before {
      position: absolute;
      content: "";
      top: 252px;
      left: 500px;
      width: 100px;
      height: 5px;
      background-color: #00fff0; }
  .powerApp .powerApp_cart {
    width: 100%;
    text-align: center;
    height: 321px;
    border-radius: 5px;
    box-shadow: 1px 1.732px 5px rgba(30, 43, 63, 0.1);
    background-color: #ffffff; }
    .powerApp .powerApp_cart .powerApp_cart-img {
      max-height: 100%;
      max-width: 100%;
      margin-left: 0px;
      margin-bottom: 20px; }
    .powerApp .powerApp_cart .powerApp_cart-header {
      font-size: 17px;
      text-align: center;
      line-height: 50px;
      color: #223047;
      font-family: "Dosis"; }
    .powerApp .powerApp_cart .powerApp_cart-text {
      width: 100%;
      height: 79px;
      font-size: 14px;
      letter-spacing: 0px;
      line-height: 29px;
      color: #97a4be;
      font-family: "Dosis";
      text-align: center;
      padding: 7px; }

.moreInf {
  width: 100%;
  margin-bottom: 100px; }
  .moreInf .right-side--margin {
    margin-left: 60px;
    margin-top: 70px; }
  .moreInf .moreInf_left-side {
    background-color: #223047;
    height: 375px; }
  .moreInf .moreInf_right-side {
    background-color: #f5f6fa;
    margin-left: -15px; }
    .moreInf .moreInf_right-side .right-side-headText {
      font-size: 30px;
      letter-spacing: 1px;
      line-height: 40px;
      color: #000000;
      font-family: "Dosis";
      font-family: "Dosis"; }
    .moreInf .moreInf_right-side .right-side-text {
      width: 469px;
      height: 141px;
      font-size: 14px;
      letter-spacing: 0px;
      line-height: 29px;
      color: #97a4be;
      font-family: "Dosis"; }

.stable__Ready .first__row {
  text-align: right;
  margin-bottom: 100px; }
.stable__Ready .first__row--headtext {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #000000;
  font-family: "Dosis";
  text-align: right; }
.stable__Ready .first__row--text {
  height: 141px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 29px;
  color: #97a4be;
  font-family: "Dosis";
  text-align: right;
  margin-bottom: 50px; }
.stable__Ready .first__row--button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: #00fff0;
  font-size: 17px;
  color: #223047;
  font-family: "Dosis"; }
.stable__Ready .second__row--img {
  position: absolute;
  left: 155px;
  max-height: 500px; }
.stable__Ready .second__row--list {
  list-style: none;
  background-color: none; }
.stable__Ready .second__row--list--center {
  display: table-cell;
  vertical-align: middle; }
.stable__Ready .second__row--list li {
  width: 100%;
  height: 78px;
  box-shadow: 2px 3.464px 10px rgba(35, 39, 51, 0.1);
  margin-bottom: 40px;
  display: table; }
.stable__Ready .stable--active {
  width: 542px;
  max-height: 70px !important;
  box-shadow: 4px 6.928px 24px rgba(0, 255, 241, 0.5);
  background-color: #00fff0;
  transition-duration: 0.5s;
  box-sizing: border-box; }
.stable__Ready .second__row--list i {
  margin-left: 30px;
  font-size: 20px; }
.stable__Ready .second__row--list li h6 {
  display: inline-block;
  margin-left: 15px;
  font-size: 17px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #223047;
  font-family: "Dosis"; }
.stable__Ready .second__row--list li p {
  width: 379px;
  height: 45px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 28px;
  color: #233148;
  font-family: "Dosis";
  margin-left: 68px;
  display: none; }

.android__iphone {
  height: 470px;
  background-color: #f5f6fa; }
  .android__iphone .android_iphone--headtext {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #000000;
    font-family: "Dosis";
    text-align: right;
    margin-bottom: 15px;
    margin-top: 130px;
    margin-bottom: 45px; }
  .android__iphone .android_iphone--list {
    text-align: right;
    list-style-type: none;
    margin-right: 20px;
    margin-bottom: 30px; }
    .android__iphone .android_iphone--list .android_iphone--list li {
      font-size: 17px;
      line-height: 50px;
      color: #000000;
      font-family: "Dosis";
      text-align: center;
      list-style-type: none;
      margin-left: 5px; }
    .android__iphone .android_iphone--list .list--icon {
      margin-right: 14px;
      content: "\f00c";
      background-color: #00fff0;
      border-radius: 50%;
      border: 1x solid grey;
      padding: 5px; }
  .android__iphone .android_iphone--text {
    width: 469px;
    height: 141px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 29px;
    color: #97a4be;
    font-family: "Dosis";
    text-align: right; }
  .android__iphone .android__iphone .android_iphone--headtext {
    margin-top: 140px; }
  .android__iphone .android__iphone--white__image {
    height: 273px;
    position: absolute;
    top: 220px;
    left: 43px; }
  .android__iphone .android__iphone--black__image {
    height: 359px;
    position: absolute;
    top: 131px;
    left: 155px; }

.video {
  text-align: center;
  height: 550px;
  background-color: #223047; }
  .video img {
    margin-top: 10%;
    margin-bottom: 2%; }
  .video .video__icon__back {
    display: none; }
  .video .video--headtext {
    font-size: 17px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #ffffff;
    font-family: "Dosis";
    font-weight: 300;
    margin-bottom: 2%; }
  .video .video--text {
    height: 141px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 29px;
    color: #ffffff;
    font-family: "Dosis";
    text-align: center; }
  .video .modal-content {
    border: 0;
    background: transparent; }
  .video .modal-body {
    padding: 0; }
    .video .modal-body iframe {
      border: 0; }

.join {
  background-position: center;
  text-align: center;
  height: 500px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat; }
  .join .join--headtext {
    margin-top: 140px;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 50px;
    color: #223047;
    font-family: "Dosis"; }
  .join .join--text {
    margin-top: 10px;
    font-size: 17px;
    letter-spacing: 0px;
    line-height: 29px;
    color: #223047;
    font-family: "Dosis";
    font-weight: 300; }
  .join .join--button {
    height: 50px;
    box-shadow: 4px 6.928px 24px rgba(0, 255, 241, 0.5);
    background-color: #00fff0;
    font-size: 30px;
    letter-spacing: 1px;
    color: #223047;
    font-family: "Dosis";
    margin-top: 30px; }

.only__text {
  height: 270px;
  background-color: #223047; }
  .only__text .text {
    margin-top: 10%;
    height: 141px;
    font-size: 17px;
    letter-spacing: 0px;
    line-height: 29px;
    color: #00fff1;
    font-family: "Dosis";
    text-align: center; }

.available {
  display: table;
  background-color: #f5f6fa;
  width: 100%;
  height: 700px; }
  .available .available__headtext {
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 50px;
    color: #223047;
    font-family: "Dosis";
    margin-left: 45px;
    padding-top: 190px; }
  .available .available__text {
    height: 30px;
    font-size: 17px;
    letter-spacing: 0px;
    line-height: 29px;
    color: #97a4be;
    font-family: "Dosis";
    font-weight: 300;
    margin-left: 45px; }
  .available .available--padding {
    padding-top: 90px;
    margin-left: 5px; }
    .available .available--padding .available--padding--list {
      list-style-type: none; }
      .available .available--padding .available--padding--list li {
        display: inline; }
  .available .available__liphone {
    position: absolute;
    left: 170px;
    top: 38px;
    z-index: 1; }
  .available .available__riphone {
    position: absolute;
    left: 345px;
    top: 152px;
    margin-right: 40px; }
  .available .available--button {
    position: absolute;
    left: 400px;
    width: 370px;
    top: 220px;
    height: 70px;
    box-shadow: 4px 6.928px 24px rgba(0, 255, 241, 0.5);
    background-color: #00fff0;
    font-size: 17px;
    line-height: 50px;
    color: #233148;
    font-family: "Dosis"; }

.cols {
  width: 100%;
  height: 650px; }
  .cols .cols--padding {
    padding-top: 113px;
    list-style-type: none; }
    .cols .cols--padding .active {
      font-size: 17px;
      line-height: 50px;
      color: #223047;
      font-family: "Dosis"; }
    .cols .cols--padding li {
      list-style-type: none;
      font-size: 14px;
      letter-spacing: 0px;
      line-height: 29px;
      color: #97a4be;
      font-family: "Dosis";
      text-align: center; }
  .cols .cols__headtext {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 50px;
    color: #223047;
    font-family: "Dosis";
    text-align: center; }
  .cols .cols__text {
    font-size: 17px;
    letter-spacing: 0px;
    line-height: 29px;
    color: #97a4be;
    font-family: "Dosis";
    font-weight: 300;
    text-align: center;
    padding-bottom: 45px; }
  .cols .cols__search--right {
    text-align: right; }
  .cols .cols__search {
    width: 570px;
    height: 50px;
    margin-left: 31px;
    background-color: #f5f6fa;
    width: 450px;
    height: 50px;
    background-color: #f5f6fa;
    border: 0px solid #FF0000; }
  .cols .cols__button {
    height: 50px;
    box-shadow: 4px 6.928px 24px rgba(0, 255, 241, 0.5);
    background-color: #00fff0;
    font-size: 17px;
    color: #233148;
    font-family: "Dosis";
    margin-left: 25px; }
  .cols .cols__list {
    margin-left: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row; }
    .cols .cols__list li {
      width: 20%; }

footer {
  background-color: #223047; }
  footer .footer__headtext {
    font-size: 17px;
    line-height: 50px;
    color: #00fff1;
    font-family: "Dosis";
    margin-top: 23px;
    text-align: right; }
  footer .footer__list {
    padding-right: 30px;
    text-align: right;
    margin-top: 23px; }
    footer .footer__list li {
      list-style-type: none;
      display: inline-block;
      margin-left: 25px;
      color: white; }

@media (max-width: 575.98px) {
  header {
    height: 450px; }
    header .header_iphone {
      display: none; }
    header .header_headText {
      font-size: 20px;
      text-align: left;
      margin-bottom: 20px; }
    header .header__mobile__menu {
      margin-left: 64%;
      display: inline-block !important;
      background-color: #223047;
      color: white !important;
      font-size: 21px;
      margin-top: 5px;
      border: 0; }
    header .nav-button {
      display: none; }
    header .header_text {
      width: 261px; }
    header .header-right {
      margin-top: 0px;
      position: relative; }

  .powerApp {
    padding-bottom: 0px; }
    .powerApp .powerApp_text {
      font-size: 25px;
      margin-top: 50px;
      padding-bottom: 60px; }
      .powerApp .powerApp_text::before {
        display: none; }
    .powerApp .powerApp_cart {
      margin-left: 0px;
      margin-bottom: 5px; }

  .moreInf {
    margin-bottom: 45px; }
    .moreInf .moreInf_left-side {
      display: none; }
    .moreInf .moreInf_right-side {
      background-color: #f5f6fa;
      margin-left: -15px; }
      .moreInf .moreInf_right-side .right-side-headText {
        width: 100%;
        height: 106px; }
      .moreInf .moreInf_right-side .right-side-text {
        width: 289px;
        height: 250px; }

  .stable__Ready .first__row--text {
    margin-bottom: 80px; }
  .stable__Ready .first__row img {
    display: none; }
  .stable__Ready .first__row .first__row--headtext {
    text-align: left; }
  .stable__Ready .first__row .first__row--text {
    text-align: left;
    width: 100%; }
  .stable__Ready .second__row--img {
    display: none; }
  .stable__Ready .second__row--list li {
    width: 100%; }
    .stable__Ready .second__row--list li p {
      display: none; }

  .android__iphone {
    height: 336px; }
    .android__iphone .android_iphone--headtext {
      margin-top: 0px;
      text-align: left; }
    .android__iphone .android_iphone--text {
      width: 100%; }
    .android__iphone .android__iphone--imgs {
      display: none; }
    .android__iphone .android_iphone--list {
      text-align: left; }

  .video {
    height: 340px; }

  .available {
    height: 382px; }
    .available .available__headtext {
      padding-top: 20px; }
    .available .available__liphone {
      display: none; }
    .available .available__riphone {
      display: none; }
    .available .available--button {
      position: absolute;
      left: 80px;
      width: 258px;
      top: 12px;
      height: 55px; }

  .cols {
    height: 735px; }
    .cols .cols__list li {
      width: 33%; }
    .cols .cols--padding {
      padding: 0;
      padding-top: 28px; }
      .cols .cols--padding .cols--main--list {
        display: inline; }
    .cols .cols__search {
      width: 100%; }
    .cols .cols__search--right {
      text-align: center; }
    .cols .cols__button--center {
      text-align: center; }
    .cols .cols__align__center {
      text-align: center; }
    .cols .cols__button {
      margin: 0; }

  footer {
    margin-top: 23px; }
    footer .footer__headtext {
      text-align: center; }
    footer .footer__list {
      text-align: center;
      margin-top: 0px; }
      footer .footer__list li {
        margin-left: 2px; }
    footer .footer__headtext {
      line-height: 30px; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  header {
    text-align: center;
    height: 590px; }
    header .header_iphone {
      display: none; }
    header .header_headText {
      font-size: 50px; }
    header .header_text {
      width: 100%; }
    header .header-right {
      margin-top: 0px;
      position: relative; }

  .powerApp {
    padding-bottom: 0px; }
    .powerApp .powerApp_text::before {
      position: absolute;
      content: "";
      top: 252px;
      left: 225px; }

  .moreInf {
    margin-bottom: 45px; }
    .moreInf .moreInf_left-side {
      display: none; }
    .moreInf .moreInf_right-side {
      background-color: #f5f6fa;
      margin-left: -15px; }
      .moreInf .moreInf_right-side .right-side--margin {
        margin-top: 0; }
      .moreInf .moreInf_right-side .right-side-headText {
        width: 100%;
        height: 106px;
        font-size: 50px; }
      .moreInf .moreInf_right-side .right-side-text {
        width: 500px; }

  .stable__Ready .first__row--text {
    margin-bottom: 0px; }
  .stable__Ready .first__row--headtext {
    font-size: 40px; }
  .stable__Ready .first__row {
    margin-bottom: 35px; }
    .stable__Ready .first__row img {
      display: none; }
  .stable__Ready .second__row .second__row--list--center {
    text-align: center; }
    .stable__Ready .second__row .second__row--list--center h6 {
      font-size: 35px; }
    .stable__Ready .second__row .second__row--list--center i {
      font-size: 30px; }
  .stable__Ready .second__row .second__row--img {
    display: none; }
  .stable__Ready .second__row .second__row--list li {
    width: 100%; }
    .stable__Ready .second__row .second__row--list li p {
      display: none; }

  .android__iphone {
    height: 336px; }
    .android__iphone .android_iphone--headtext {
      margin-top: 10px;
      font-size: 40px; }
    .android__iphone .android_iphone--text {
      width: 100%; }
    .android__iphone .android__iphone--imgs {
      display: none; }

  .video {
    height: 340px; }

  .available {
    height: 382px; }
    .available .available__headtext {
      padding-top: 20px;
      margin-left: 0px; }
    .available .available__text {
      margin-left: 0px; }
    .available .available--padding {
      margin-left: 0px; }
    .available .available--padding--list {
      padding: 0; }
    .available .available__liphone {
      display: none; }
    .available .available__riphone {
      display: none; }
    .available .available--button {
      position: absolute;
      left: 15px;
      width: 258px;
      top: 12px;
      height: 55px; }

  .cols {
    height: 735px; }
    .cols .cols__list li {
      width: 33%; }
    .cols .cols--padding {
      padding: 0;
      padding-top: 28px; }
      .cols .cols--padding .cols--main--list {
        display: inline; }
    .cols .cols__search {
      width: 100%; }
    .cols .cols__search--right {
      text-align: center; }
    .cols .cols__align__center {
      text-align: center; }
    .cols .cols__button {
      margin-top: 0; }

  footer {
    margin-top: 23px; }
    footer .footer__headtext {
      text-align: center; }
    footer .footer__list {
      text-align: center;
      margin-top: 0px; }
      footer .footer__list li {
        margin-left: 2px; }
    footer .footer__headtext {
      line-height: 30px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  header .header_iphone {
    position: absolute;
    top: 110px;
    width: 100%; }
  header .header_text {
    width: 350px; }
  header .nav-button {
    margin-top: 15px;
    width: 125px; }

  .powerApp .powerApp_text::before {
    position: absolute;
    content: "";
    top: 252px;
    left: 45%; }
  .powerApp .powerApp_cart {
    margin-bottom: 5px; }

  .stable__Ready .second__row--img {
    position: absolute;
    left: 10%;
    width: 100%; }
  .stable__Ready .second__row--list li {
    width: 100%; }
    .stable__Ready .second__row--list li p {
      display: none; }
  .stable__Ready .first__row .firs__row__codewin {
    width: 100%; }

  .android__iphone .android__iphone--white__image {
    height: 215px;
    position: absolute;
    top: 272px;
    left: 25px; }
  .android__iphone .android__iphone--black__image {
    height: 351px;
    position: absolute;
    top: 139px;
    left: 93px; }

  .moreInf .moreInf_right-side .right-side-text {
    width: 100%; }
  .moreInf .moreInf_right-side .right-side--margin {
    margin-top: 0; }

  .available {
    height: 570px; }
    .available .available__headtext {
      padding-top: 125px; }
    .available .available--padding {
      padding-top: 155px;
      margin-left: 5px; }
    .available .available__liphone {
      position: absolute;
      left: -22px;
      top: 11px;
      z-index: 1;
      height: 100%; }
    .available .available__riphone {
      position: absolute;
      left: 130px;
      top: 45px;
      margin-right: 40px; }
    .available .available--button {
      position: absolute;
      left: 22%;
      top: 45px; }
    .available .available--padding--list {
      list-style-type: none; }
      .available .available--padding--list li {
        margin-top: 10px; }

  .cols {
    height: 735px; }
    .cols .cols__list li {
      width: 33%; }
    .cols .cols--padding {
      padding: 0;
      padding-top: 28px; }
      .cols .cols--padding .cols--main--list {
        display: inline; }
    .cols .cols__search {
      width: 100%; }
    .cols .cols__search--right {
      text-align: center; }
    .cols .cols__align__center {
      text-align: center; }
    .cols .cols__button {
      margin-top: 0; }

  footer {
    background-color: #223047; }
    footer .footer__headtext {
      font-size: 12px;
      line-height: 50px;
      color: #00fff1;
      font-family: "Dosis";
      margin-top: 23px; }
    footer .footer__list {
      text-align: right;
      margin-top: 23px; }
      footer .footer__list li {
        list-style-type: none;
        display: inline-block;
        margin-left: 25px;
        color: white; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .moreInf .moreInf_right-side .right-side-text {
    width: 425px; }

  .powerApp .powerApp_text::before {
    position: absolute;
    content: "";
    top: 252px;
    left: 420px; }

  .stable__Ready .second__row--img {
    position: absolute;
    left: 10%;
    top: -5%; }
  .stable__Ready .second__row--list li {
    width: 100%; }
    .stable__Ready .second__row--list li p {
      width: 80%; }
  .stable__Ready .first__row .firs__row__codewin {
    width: 100%; }

  .available .available__liphone {
    position: absolute;
    left: 80px;
    top: 38px;
    z-index: 1; }
  .available .available__riphone {
    position: absolute;
    left: 255px;
    top: 105px; }
  .available .available--button {
    left: 33%; }

  .cols {
    height: 525px; }
    .cols .cols__list li {
      width: 20%; }
    .cols .cols--padding {
      padding: 0;
      padding-top: 50px; }
      .cols .cols--padding .cols--main--list {
        display: inline; }
    .cols .cols__search {
      width: 100%; }
    .cols .cols__search--right {
      text-align: center; }
    .cols .cols__align__center {
      text-align: center; }
    .cols .cols__button {
      margin-top: 0; }

  footer {
    background-color: #223047; }
    footer .footer__headtext {
      font-size: 16px;
      line-height: 50px;
      color: #00fff1;
      font-family: "Dosis";
      margin-top: 23px; }
    footer .footer__list {
      text-align: right;
      margin-top: 23px; }
      footer .footer__list li {
        list-style-type: none;
        display: inline-block;
        margin-left: 25px;
        color: white; } }
@media (min-width: 2560px) {
  .stable__Ready .first__row .first__row__right {
    text-align: left; }
  .stable__Ready .second__row--img {
    position: absolute;
    left: 65%; }

  footer .footer__headtext {
    text-align: right; }
  footer .footer__list {
    text-align: center;
    margin-top: 23px; } }

/*# sourceMappingURL=style.css.map */
